[Unit]
Description=Update local mirrors (once a day)

[Service]
Type=simple
ExecStart=/bin/sh /opt/linux-repository-mirror/systemd/job.sh --once-a-day

[Install]
WantedBy=multi-user.target
