[Unit]
Description=Update of Local Mirror Repositories, once a day (see: yamaoka-kitaguchi-lab/linux-repository-mirror)

[Timer]
OnUnitActiveSec=24h

[Install]
WantedBy=timers.target
